/* Color Variables */
:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2e2f4266;
    --grey: #2e2f42b3;
    --dairy: #FCFCFC;

    /* shadows */
    --shadow-small: #2e2f4229;
    /* rgba(46, 47, 66, 0.08) */
    --shadow-medium: #2e2f421a;
    /* rgba(46, 47, 66, 0.10) */
    --shadow-large: #2e2f4214;
    /* rgba(46, 47, 66, 0.16) */
    --hero-shadow: #2e2f42b3;
    /* rgba(46, 47, 66, 0.70) */

    /* transitions */
    --color-250ms: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --background-color-250ms: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --box-shadow-250ms: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transform-250ms: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-250ms: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --fill-250ms: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* flex basis */
    --gap24-element2: calc((100% - 24px) / 2);
    --gap24-element4: calc((100% - 24px * 3) / 4);
}